.form-stats-container { 
    
    position: relative;
    display: flex;
    grid-template-columns: 1fr 2.5fr;
    flex-direction: row;
    background-color: white;
    z-index: 4;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
}

.form-container {
    background-color: white;
    min-width: 280px;
}

.align {
    padding: 24px;
    align-items: center;
    justify-content: center;
}
.label-highlight:hover {
    color: rgb(8, 8, 68) !important;
    cursor: pointer !important;
}
input[type="radio"]:checked + .label-highlight{ 
    background-color: aquamarine !important;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }