.form-stats-container { 
    
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    flex-direction: row;
    background-color: white;
    z-index: 4;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: -webkit-fill-available;
}

.form-container {
    background-color: white;
    min-width: 280px;
}
